mac/DerivedData
mac/UVMeter.xcodeproj/project.xcworkspace/xcuserdata
mac/UVMeter.xcodeproj/xcuserdata
build/esp8266.esp8266.d1_mini/UVMeter.ino.bin
build/esp8266.esp8266.d1_mini/UVMeter.ino.elf
build/esp8266.esp8266.d1_mini/UVMeter.ino.map
build
board/#auto_saved_files#
board/_autosave-UVMeter.kicad_sch
board/fp-info-cache
board/UVMeter.kicad_pcb
board/UVMeter.kicad_prl
board/UVMeter.kicad_pro
board/UVMeter.kicad_sch
board/~UVMeter.kicad_sch.lck
board/UVMeter-backups/UVMeter-2025-02-13_174649.zip
board/UVMeter-backups/UVMeter-2025-02-13_180659.zip
UVMeter-2025-02-25_121449.zip
